body {
  /* background-image: linear-gradient(to top, #757575, #000c40); */

  background-color: #ebe5d1ce;
}
h1 {
  text-align: center;
  /* background-color: #27b45e; */
  background-color: #B983FF;
  /* background-color: #afaff6; */
  padding: 10px;
  margin: 10px 300px;
  border-radius: 10px;
  /* color: white; */
  color: white;
  font-weight: 100;
  font-size: 48px;
  font-family: 'Inter', sans-serif;
}

li {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  /* color: white; */

  color: #333333;
  margin-left: 500px;
  margin-right: 530px;
  list-style: circle;
  font-family: 'Inter', sans-serif;
}
.date {
  /* background-color: orange; */

  background-color: powderblue;
  /* margin: 10px 350px; */
  margin: 10px 450px;
  padding: 13px;
  border-radius: 10px;
  text-align: center;
  /* color: white; */

  color: #333333;
  border: 1px solid white;
  list-style: none;
  font-size: 26px;
  /* font-weight: 800; */
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
ol {
  padding: 0;
}
p {
  text-align: center;
  /* background-color: #27b45d81; */
  background-color: #9494f8;
  background-color: #B983FF;
  /* padding: 30px; */
  padding: 10px;
  /* margin: 20px 500px; */
  margin: 10px 20px 30px 1170px;
  /* font-size: 32px; */
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid white;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  
}
